@model IEnumerable<Library_Management_System.Models.LR_AlliedMaterial>
@if (Model.Count() == 0)
{
    <tr> <td colspan="3"> Records not found </td> </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remaining_Quanity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>

        </tr>
    }
}

