@model IEnumerable<Library_Management_System.Models.LR_Issue>

@{
    ViewBag.Title = "Issued Books";
}


<script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reqtbl').DataTable();
    });
</script>

<html>
<body>

    <div class="form-basic">
        <p data_toggle="tooltip" title="Create new books">
            <button id="btn" class="btn  btn-warning">Issue new</button>
        </p>
        @*<p style="text-align:left;">
                @Html.ActionLink("Create New", "AddBooks")
            </p>*@

        <div class="table-responsive">
            <table style="width:100%;" class="table-responsive table-condensed table-bordered table-hover table-striped" id="reqtbl">
                <thead class="table-header">
                    <tr class=" headingStyle label-primary">

                        <th style="width:7px;">
                            <strong>
                                Student Id
                            </strong>
                        </th>
                        <th>
                            <strong>
                               Book title
                            </strong>
                        </th>
                        <th>
                            <strong>
                                ISBN
                            </strong>
                        </th>
                        <th style="width:89px;">
                            <strong>
                                Name
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Author Name
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Category
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Issue Date
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Expiry Date
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Status
                            </strong>
                        </th>
                        <th style="width:7px;">
                            <strong>
                                Remaining Quantity
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Actions
                            </strong>
                        </th>

                    </tr>
                </thead>
                <tbody class="table-body" id="tablebody">
                    @Html.Partial("_IssueBooksList", Model)
                </tbody>
            </table>
        </div>
    </div>




    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Category</h4>
                </div>
                <div class="modal-body" style="padding:30px">
                    @using (Html.BeginForm("CreateNewBooks", "BookIssue", null, FormMethod.Post, null))
                    {
                        <div class="form-group">
                            <label>Category</label>
                            <select class="input form-control valid" id="Role" name="Role">
                                @foreach (var item in ViewBag.prioritylist)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <br />
                        <button type="submit" id="btnSave" class="btn btn-success">Issue</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    }
                </div>

            </div>
        </div>
    </div>




</body>
</html>

<script type="text/javascript">
    $(document).on("click", "#btn", function () {
        $('#myModalSave').modal('hide');
        $('#myModalSave').modal();
    });

</script>




















@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "BookIssue")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.student_id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>

            <th>Actions</th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
