@model Library_Management_System.Models.LR_Fine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayLimit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
