@model Library_Management_System.Models.LR_Books

@{
    ViewBag.Title = "Add Books";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Books</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="artCat_id" value="@ViewBag.artId" />
                <div class="box-body">
                    <h4>Add Books</h4>
                    <hr />

                    @if (ViewBag.warning != null)
    {
                <p style="color: red; font-style: italic; font-size:18px;">
                    @ViewBag.warning
                </p>
}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ISBN</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-server"></i>
                                    </div>
                                    @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Book Title</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Description</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-server"></i>
                                    </div>

                                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Author Name</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user-circle-o"></i>
                                </div>

                                @Html.EditorFor(model => model.author_name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.author_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Purchase Date</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.EditorFor(model => model.purchase_date, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                            @Html.ValidationMessageFor(model => model.purchase_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cost</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-usd"></i>
                                </div>
                                @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                            @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


                <div class="row" style="margin-left:0px;">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Publication Date </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.EditorFor(model => model.date_year_ofpublication, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.date_year_ofpublication, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Edition</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-server"></i>
                                </div>
                                @Html.EditorFor(model => model.edition, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.edition, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Quantity</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-server"></i>
                                </div>
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-left:0px;">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Publisher Name</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                @Html.EditorFor(model => model.publisher_name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.publisher_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-3  pull-right">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>

                </div>

            </div>









            @*@{Html.RenderPartial("~/Views/Items/itemlogs.cshtml", new USKTProcurement.Models.PR_InventoryLogs()); }*@




        </div>


    </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
























@*//Original Data*@


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LR_Books</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.author_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.author_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.author_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.publisher_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.publisher_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.publisher_name, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.publication_year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.publication_year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.publication_year, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.purchase_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.purchase_date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.purchase_date, "", new { @class = "text-danger" })
                </div>
            </div>*@



@*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
