@model Library_Management_System.Models.LR_JournalsNews

@{
    ViewBag.Title = "";
}




<link href="~/Content/form.css" rel="stylesheet" />
<link href="~/Content/table.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="box box-default" style="align-content:center; margin-left:170px;">
            <div class="form-basic">
                <div class="text-body">
                    <h2>Delete</h2>
                    <h3>Are you sure you want to delete this?</h3>

                    <div>

                        <hr />
                        <dl class="dl-horizontal">


                            <dt>
                               Title
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                            <dt>
                              Author Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.author_name)
                            </dd>

                            <dt>
                               Publisher Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.publisher_name)
                            </dd>

                            <dt>
                             Cost
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cost)
                            </dd>
                            <dt>
                             Status
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.status)
                            </dd>
                            <dt>
                             Category
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.article_category)
                            </dd>

                            <dt>
                          Purchase Date
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.purchase_date)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>


        </div>  @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </div>


















    @*<h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>LR_JournalsNews</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.artCat_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.artCat_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.author_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.author_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.publisher_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.publisher_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.purchase_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.purchase_date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.activity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.activity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.date_year_ofpublication)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.date_year_ofpublication)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.edition)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.edition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Impact_Factor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Impact_Factor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Eigen_Factor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Eigen_Factor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Bill_num)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Bill_num)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.article_category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.article_category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.type_category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.type_category)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>*@
