@model IEnumerable<Library_Management_System.Models.LR_AssignRolestoUsers>

@{
    ViewBag.Title = "Assigned Roles";
}
<script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reqtbl').DataTable();
    });
</script>
<html>
<body>

    <div class="form-basic">
        <p style="text-align:left;">
            @Html.ActionLink("Create New", "AssignRoles")
        </p>



        <div class="table-responsive">
            <table style="width:100%;" class="table-responsive table-condensed table-bordered table-hover table-striped" id="reqtbl">
                <thead class="table-header">
                    <tr class=" headingStyle label-primary">
                        <th>
                            <strong>
                                User
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Category
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Priority
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Action
                            </strong>
                        </th>

                    </tr>
                </thead>
                <tbody class="table-body" id="tablebody">
                    @Html.Partial("_UsersRolesList", Model)
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
























@*<h2>ViewUserRoles</h2>

    <p>
        @Html.ActionLink("Create New", "AssignRoles")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usercategory_id)
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usercategory_id)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
