@model IEnumerable<Library_Management_System.Models.LR_AlliedMaterial>
@foreach (var item in Model)
{
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.author_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.publisher_name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.cost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.purchase_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.category)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remaining_Quanity)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }, htmlAttributes: new { @class = "btn btn-default btn-sm" })

        @Html.ActionLink("Details", "Details", new { id = item.id }, htmlAttributes: new { @class = "btn btn btn-primary btn-sm" })
        @Html.ActionLink("Delete", "Delete", new { id = item.id }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
    </td>
</tr>
}


