
@model IEnumerable<Library_Management_System.Models.LR_ReturnBook>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.student_id)
    </td>

    <td>
        @if (item.artCat_id == 1)
        {

            @Html.DisplayFor(modelItem => item.ISBN)

        }
        else
        {
            <p>-----</p>
        }
    </td>
    <td>
        @if (item.artCat_id != 1)
        {

            @Html.DisplayFor(modelItem => item.book_title)

        }
        else
        {
            <p> -----</p>
        }
    </td>
    <td>
        @if (item.artCat_id != 1)
    {

        @Html.DisplayFor(modelItem => item.author_name)

}
else
{
    <p> -----</p>
}
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Issue_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DueDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.returnedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.artCat.catname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fine)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "ReturnEdit", new { id = item.id }) |
        @Html.ActionLink("Details", "ReturnDetails", new { id = item.id }) |
        @Html.ActionLink("Delete", "ReturnDelete", new { id = item.id })*@
    </td>
</tr>
}
